@{
    ViewBag.Title = "Modifier le mot de passe";
}

<h2>Modifier le mot de passe</h2>
<p>
    Votre mot de passe a été modifié.
</p>

<ul data-role="listview" data-inset="true">
    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
</ul>